<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">



    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">{%- include social.html -%}</h2>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Hours</h3>
        <small>M - T: Closed <br>
        W - Th: 4PM - 9PM <br>
        Fri: 11AM - 9PM <br>
        Sat: 7AM - 9PM <br>
        Sun: 8AM - 2PM</small>
      </div>

      <div class="footer-col footer-col-3">
        <h3>Contact</h3>
        <small>543 E. Market St.<br />
        Gratz, PA, 17030<br />
        Tel: <a href="tel:717-365-3175">717-365-3175</a><br />
        Email: <a href="mailto:kissingers.restaurant@gmail.com">kissingers.restaurant@gmail.com</a></small>
      </div>
    </div>

  </div>

</footer>
